html {
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

 /* img {
   max-width: 100%;
    display: block; 
}*/

body {
    margin: 0;
    padding: 0;
}

/* BARRA NEGRA */

.nav-barra{
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Manrope', Arial, Helvetica, sans-serif; 
    padding: 0 40px; 
    height: 24px;
    background-color: #000000;
    }

nav .list {
    padding: 0;
    margin: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list a {
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    font-weight: bold;
    float: left;
    color: #ffffff;
    width: auto;
    text-decoration: none;
}

/* NAVBAR PRINCIPAL */

.contenedor {
    /* max-width: 120rem; */
    margin: 0 auto;

}

.navbar-principal {
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    width: 100%;
    height: 56px;
    background-color: #f1f3f5;
    color: #000000;
    padding: 0px 40px;
    align-items: center;
    font-family: 'Manrope', Arial, Helvetica, sans-serif; 
    font-size: 14px;
}

.logo img {
    display: block;
    width: 71px;
    height: auto;
}   

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1;
    margin-left: 64px;
    margin-right: 40px;
}

.left-nav {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    /* padding-top: 4px; */
}

.ul-list {
    display: flex;
    list-style-type: none;
}

.ul-list li{
    margin-right: 20px;
}

/*ANIMACIONES HOVER*/

 a {
    color: inherit;
    text-decoration: none;
} 

.hover-nav {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.hover-nav::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #000000;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms;
    opacity: 0; /* Agregado para ocultar la línea inicialmente */
}

.hover-nav:hover::after {
    width: 100%;
    opacity: 1; /* Mostrar la línea al hacer hover */
}

/*--------------------------------------*/
body {
    background-color: #ebf0f3;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
.contenedor2 {
    max-width: 120rem;
    margin: 0 auto;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.producto img {
    max-width: 100%;
    display: block;
}

.contenido-principal {
    padding-top: 0;
}

.listado-productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    row-gap: 2rem;
}

.producto {
    background-color: #ffffff;
}

.texto-producto {
    text-align: center;
    color: #000000;
    padding: 2rem;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 .5rem 0;
}

.texto-producto .precio {
    font-size: 2rem;

}

.producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
