html {
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

 /* img {
   max-width: 100%;
    display: block; 
}*/

body {
    margin: 0;
    padding: 0;
}

/* BARRA NEGRA */

.nav-barra{
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Manrope', Arial, Helvetica, sans-serif; 
    padding: 0 80px; 
    height: 24px;
    background-color: #000000;
    }

nav .list {
    padding: 0;
    margin: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list a {
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    font-weight: bold;
    float: left;
    color: #ffffff;
    width: auto;
    text-decoration: none;
}

/* NAVBAR PRINCIPAL */

.contenedor {
    /* max-width: 120rem; */
    margin: 0 auto;

}

.navbar-principal {
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    width: 100%;
    height: 56px;
    background-color: #f1f3f5;
    color: #000000;
    padding: 0px 80px;
    align-items: center;
    font-family: 'Manrope', Arial, Helvetica, sans-serif; 
    font-size: 14px;
}

.logo img {
    display: block;
    width: 71px;
    height: auto;
}   

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1;
    margin-left: 64px;
    margin-right: 40px;
}

.left-nav {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.right-nav {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.ul-list {
    display: flex;
    list-style-type: none;
}

.ul-list li{
    margin-right: 20px;
}

/*ANIMACIONES HOVER*/

 a {
    color: inherit;
    text-decoration: none;
} 

.hover-nav {
    position: relative;
    display: inline-block;
    /* padding-bottom: 10px; */
}

.hover-nav::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #000000;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 17px);
    transition: all 300ms;
    opacity: 0; /* Agregado para ocultar la línea inicialmente */
}

.hover-nav:hover::after {
    width: 100%;
    opacity: 1; /* Mostrar la línea al hacer hover */
}

/* SECOND NAVIGATION */

.second-navigation {
    background-color: #ffffff;
    height: 76px;
    padding: 0px 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.content-second-navigation {
    display: flex;
    font-size: 16px;
    font-family: 'Manrope', Arial, Helvetica, sans-serif; 
    font-weight: bold;
}

.content-second-navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul-content li a{
    pointer-events: none    ;
}

.body-second-navigation {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 30px;
    font-size: 16px;
    font-family: 'Manrope', Arial, Helvetica, sans-serif; 
    font-weight: bold;
}

.body-second-navigation .ul-content {
    list-style-type: none;
    display: flex;
    
}

.ul-content li {
    padding: 0 20px;
}

.hover-second-nav-two{
    font-weight: 300;
    color: #8d8d8d;
}

.hover-second-nav-two:hover{
    cursor: pointer;
    color: #000000;
}

.hover-second-nav{
    cursor: default;
    letter-spacing: -0.2px;
    border-bottom: 2px solid #000000;
    padding: 0 4px;
}

/*--------------------------------------*/
/*CARROUSSEL*/

body {
    background-color: #ebf0f3;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}


.contenedor2 {
    max-width: 120rem;
    margin: 0 auto;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.producto-blog img {
    max-width: 100%;
    display: block;
}

.grid-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.producto-blog:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    margin: 4.166667vw;
    margin-top: 0;
    margin-bottom: 10px;
}

.listado-productos-blog {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    row-gap: 2rem;
}



.txt{
    width: 40%;
    position: absolute;
    left: 50px;
    top: 160px;
    display: flex;
}
.txt img{
    width: auto;
    position: absolute;
    /* transform: translateY(60%); */
    transform: translateX(28%);
    height: 22px;
    margin-bottom: 9.6px;
    margin: 50px 0px 7.77px;
}
.txt h2{
    position: absolute;
    left: 98px;
    top: 80px;
    font-size: 35.85px;
    font-family: Manrope;
    font-weight: 500;
}

.para-margen {
    margin: 0;
}

.btns {
    /* display: flow-root; */
    padding: 0.520833vw 2.604167vw;
    padding: 15px 27px;
    color: white;
    background-color: black;
    border-radius: 5vw;
    margin-right: 0;
    font-weight: 300;
    font: 10.5219px;
    transition: all .3s;
    position: absolute;
    left: 98px;
    top: 250px;
}